/*
BASE
*/

html,
body{
    padding: 0px;
    margin: 0px;
}

html,
body,
html *,
body *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrap{
    display: block;
    max-width: 1180px;
    width: 90%;
    margin: 0 auto;}

/*
SITE CONTENT
*/


/*
FOOTER
*/

footer{
    padding: 24px 0px;
    background-color: #1F2937;}

footer p{
    margin: 0px;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;}